.photos.page {
	overflow: hidden;
	background: black;
	padding-top: 52px;

	.inner {

	}

	ul {
		list-style: none;
		margin: 0;
	}

	li {
		// border: 1px solid red;
		width: 33.3333%;
		float:left;
	}

	.photo {
		margin: 0;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		border: 1px solid white;
		// @include transform( translate3d(0,0,0));

		.caption {
			opacity: 0;
			position: absolute;
			top: 50%;
			@include transform( translate3d(0, -50%, 0) scale3d(1.1,1.1,1.1) );
			@include transition( all 0.2s ease );
			@include transform-origin(center);
			color: white;
			z-index: 2;
			text-align: center;
			left: 0;
			right: 0;
			font-weight: 500;
			font-size: rem-calc(22);
			text-shadow: 0 1px 0 rgba(0,0,0,1);
		}

		// Only show hovers for viewports which can show modal
		@media #{$medium-up} {
			&:hover {
				
				img {
					@include transform( scale3d(0.9,0.9,0.9 ));
				}

				&:before {
					opacity: 1;
				}

				.caption {
					opacity: 1;
					@include transform( translate3d(0, -50%, 0) scale3d(1,1,1) );
				}
			}
		}

		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background-color: rgba(0,0,0,0.6);
			z-index:2;
			opacity: 0;
			@include transition( opacity 0.3s ease );
			@include transform( translate3d(0,0,0) );
		}

		img {
			// z-index:-1;
			// max-height: 100%;
			max-width: none;
			display: block;
			width: 112%;
			margin: -6%;
			@include transform( translate3d(0,0,0px));
			@include transition( all 0.2s ease );
			@include transform-origin(center);
			// @include transform( scale3d(1.1,1.1,1.1 ));
			@include backface-visibility(hidden);
			// opacity: 0;

			&.ready {
				// opacity: 1;
			}
		}
	}

	.photo-list {
		width: 100%;
		// position: relative;
		background-color: #1d1d1d;	

	}

	@media #{$small-only} {
		li {
			width: 100%;
			// display: none;
		}
	}

}

.modal-photo-viewer {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url("/img/black-at-80-percent-opacity.png");
	z-index:3;
	opacity: 0;
	display: none;
	@include transition( opacity 0.2s linear );
	@include transform( translate3d(0,0,0) );
	@include backface-visibility(hidden);

	@media #{$small-only} {
		display: none !important; // Hide on mobile
	}

	img {
		
		// display: block;
		margin: auto;
		max-width: none;
		position: absolute;
		left: 50%;
		top: 55%;
		@include transition( all 0.5s ease );
		@include transform( translate3d(-50%, -50%, 0 ) scale3d(1.1,1.1,1.1));
		@include transform-origin(center);
		// box-shadow: 0 0 25px rgba(0,0,0,0.8);
		@include backface-visibility(hidden);
		opacity: 0;

		&.ready {
			@include transform( translate3d(-50%, -50%, 0 ) scale3d(1,1,1));
			opacity: 1;
		}

		@media #{$large-up} {
			height: 85%;
		}

		@media #{$medium-only} {
			height: 75%;
		}

		@media #{$small-only} {
			height: 55%;
		}
	}

	&.show {
		display: block;
	}

	&.animate {
		opacity: 1;
	}

	.inner {
		// border: 1px solid blue;
	}

	.navigation {
		position: absolute;
		color: transparent;
		background-color: transparent;
		padding: 0;
		// border: 1px solid red;
		width: 80px;
		height: 100%;

		svg {
			margin: 0;
			width: 50px;
			height: auto;
			path {
				fill: white;
			}
		}

		&:focus {
			outline: none;
		}
	
		&.next {
			right: 0;
		}

		&.previous {
			left: 0;

			svg {
				@include transform( rotateZ(180deg));
			}
		}
	}



}