<section class="frontend page">

	<div class="inner">

	<ul class="sites">
		<li>
			<article class="site">
				<h2 class="site-title">The New Yorker | Goings on About Town</h2>
				<h3 class="client">Condé Nast</h3>
				<img src="/img/sites/goat.jpg" class="screenshot" />
				<div class="description">
					<p>An in-house minisite for <em>The New Yorker’s</em> event listings & reviews.</p>
				</div>
				<div class="features">
					<h4 class="heading">Technology:</h4>
					<ul>
						<li>React & ES6</li>
						<li>Wordpress-powered API</li>
						<li>Custom Mapbox integration</li>
					</ul>
				</div>

			</article>
		</li>

		<li>
			<article class="site">
				<h2 class="site-title">Designed to Move</h2>
				<h3 class="client">Client: NIKE</h3>
				<img src="/img/sites/dtm.jpg" class="screenshot" />
				<div class="description">
					<p>A mobile-first, responsive single-page application for a children's health coalition championed by NIKE.</p>
				</div>
				<div class="features">
					<h4 class="heading">Technology:</h4>
					<ul>
						<li>BackboneJS & Browserify</li>
						<li>PhantomJS for SEO</li>
						<li>PHP</li>
					</ul>
				</div>

			</article>
		</li>

		<li>
			<article class="site">
				<h2 class="site-title">Live Earth Website</h2>
				<h3 class="client">Client: Live Earth</h3>
				<img src="/img/sites/le.jpg" class="screenshot" />
				<div class="description">
					<p>A responsive website aimed at soliciting petition signups for climate change legislation.</p>
				</div>
				<div class="features">
					<h4 class="heading">Features:</h4>
					<ul>
						<li>Designed to accomodate 500 pageviews/second</li>
						<li>Facebook/Twitter/Google+ signups</li>
					</ul>
				</div>

			</article>
		</li>

		<li>
			<article class="site">
				<h2 class="site-title">Ralph Lauren Rally</h2>
				<h3 class="client">Client: Ralph Lauren & Macy’s</h3>
				<img src="/img/sites/rl.jpg" class="screenshot" />
				<div class="description">
					<p>For the 2012 Olympics, a Facebook experience aimed at cheering hometown American athletes.</p>
				</div>
				<div class="features">
					<h4 class="heading">Features:</h4>
					<ul>
						<li>Multiple sources for photo submission, including Facebook & webcam</li>
						<li>Online gallery using Google Maps to browse by location</li>
						<li>~2,000 submissions per day</li>
					</ul>
				</div>

			</article>
		</li>

		<li>
			<article class="site">
				<h2 class="site-title">GUESS Watches</h2>
				<h3 class="client">Client: GUESS</h3>
				<img src="/img/sites/guess.jpg" class="screenshot" />
				<div class="description">
					<p>A website showcasing styles and watch faces for GUESS's watch collection.</p>
				</div>
				<div class="features">
					<h4 class="heading">Technology:</h4>
					<ul>
						<li>Responsive design</li>
						<li>AngularJS</li>
						<li>Laravel & Wordpress</li>
						<li>i18n</li>
					</ul>
				</div>

			</article>
		</li>
	</ul>

	</div>

</section>
