<section class="frontend page">

	<div class="inner">

	<ul class="sites">
		<li>
			<article class="site">
				<h2 class="site-title">Designed to Move</h2>
				<h3 class="client">Client: NIKE</h3>
				<img src="/img/sites/dtm.jpg" class="screenshot" />
				<div class="description">
					<p>A mobile-first, responsive single-page application for a children's health coalition championed by NIKE.</p>
				</div>
				<div class="features">
					<h4 class="heading">Technology:</h4>
					<ul>
						<li>BackboneJS</li>
						<li>Browserify</li>
						<li>PhantomJS</li>
						<li>PHP</li>
					</ul>
				</div>
				
			</article>
		</li>

		<li>
			<article class="site">
				<h2 class="site-title">Live Earth Website</h2>
				<h3 class="client">Client: Live Earth</h3>
				<img src="/img/sites/le.jpg" class="screenshot" />
				<div class="description">
					<p>A responsive website aimed at soliciting petition signups for climate change.</p>
				</div>
				<div class="features">
					<h4 class="heading">Features:</h4>
					<ul>
						<li>Load Balancers for handling 500 pageviews/second</li>
						<li>Facebook/Twitter/Google+ signups</li>
					</ul>
				</div>
				
			</article>
		</li>

		<li>
			<article class="site">
				<h2 class="site-title">Raplh Lauren Rally</h2>
				<h3 class="client">Client: Ralph Lauren & Macy’s</h3>
				<img src="/img/sites/rl.jpg" class="screenshot" />
				<div class="description">
					<p>For the 2012 Olympics, a Facebook experience aimed at cheering hometown American athletes.</p>
				</div>
				<div class="features">
					<h4 class="heading">Features:</h4>
					<ul>
						<li>Adobe Flash for webcam photo submission</li>
						<li>Facebook SDK for social photo submission</li>
						<li>~2,000 submissions per day</li>
					</ul>
				</div>
				
			</article>
		</li>

		<li>
			<article class="site">
				<h2 class="site-title">GUESS Watches</h2>
				<h3 class="client">Client: GUESS</h3>
				<img src="/img/sites/guess.jpg" class="screenshot" />
				<div class="description">
					<p>A website showcasing styles and watch faces for GUESS's watch collection.</p>
				</div>
				<div class="features">
					<h4 class="heading">Technology:</h4>
					<ul>
						<li>Responsive design</li>
						<li>AngularJS</li>
						<li>PHP</li>
						<li>Wordpress</li>
					</ul>
				</div>
				
			</article>
		</li>
	</ul>
		
	</div>

</section>