<article class="landing page">

	<ul class="sections">

		<li class="section"><h2><a href="/photos">Photography</a></h2></li>

		<li class="section"><h2><a href="/frontend">Frontend</a></h2></li>

		<li class="section"><h2><a href="mailto:erik@hipshot.me?subject=hey&body=sup">Contact</a></h2></li>

	</ul>

</article>