<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/application.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

  </head>
  <body>
  	<div class="application">
      <header class="site-header">
        <h1><a href="/">Erik Erikson</a></h1>
      </header>
	    {{{body}}}
    </div>
    <script src="/js/application.js"></script>
  </body>
</html>
