<section class="photos page">

	<div class="inner">

		<ul class="photo-list">
			<li>
				<div class="photo" data-src="prince-rama/1.jpg">
					<img src="/img/null.png" />
					<label class="caption">Prince Rama</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="prince-rama/2.jpg">
					<img src="/img/null.png" />
					<label class="caption">Prince Rama</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="bear-in-heaven/1.jpg" >
					<img src="/img/null.png" />
					<label class="caption">Bear in Heaven</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="bear-in-heaven/2.jpg">
					<img src="/img/null.png" />
					<label class="caption">Bear in Heaven</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="the-knife/1.jpg">
					<img src="/img/null.png" />
					<label class="caption">The Knife</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="the-knife/2.jpg">
					<img src="/img/null.png" />
					<label class="caption">The Knife</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="the-knife/3.jpg">
					<img src="/img/null.png" />
					<label class="caption">The Knife</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="sleighbells/1.jpg">
					<img src="/img/null.png" />
					<label class="caption">Sleigh Bells</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="bushwick/1.jpg">
					<img src="/img/null.png" />
					<label class="caption">Brooklyn</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="chromeo/1.jpg">
					<img src="/img/null.png" />
					<label class="caption">Chromeo</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="chromeo/2.jpg">
					<img src="/img/null.png" />
					<label class="caption">Chromeo</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="tegan-and-sara/1.jpg">
					<img src="/img/null.png" />
					<label class="caption">Tegan & Sara</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="tegan-and-sara/2.jpg">
					<img src="/img/null.png" />
					<label class="caption">Tegan & Sara</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="tegan-and-sara/3.jpg">
					<img src="/img/null.png" />
					<label class="caption">Tegan & Sara</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="wanna/1.jpg">
					<img src="/img/null.png" />
					<label class="caption">WANNA</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="amsterdam/1.jpg">
					<img src="/img/null.png" />
					<label class="caption">Amsterdam</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="andrew-cedermark/1.jpg">
					<img src="/img/null.png" />
					<label class="caption">Andrew Cedermark</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="andrew-wk/1.jpg">
					<img src="/img/null.png" />
					<label class="caption">Andrew W.K.</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="calder-quartet/1.jpg">
					<img src="/img/null.png" />
					<label class="caption">Calder Quartet</label>
				</div>
			</li>

			<li>
				<div class="photo" data-src="computer-magic/1.jpg">
					<img src="/img/null.png" />
					<label class="caption">Computer Magic</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="lightning-bolt/1.jpg">
					<img src="/img/null.png" />
					<label class="caption">Lightning Bolt</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="london/1.jpg">
					<img src="/img/null.png" />
					<label class="caption">London</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="marnie-stern/1.jpg">
					<img src="/img/null.png" />
					<label class="caption">Marnie Stern</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="marnie-stern/2.jpg">
					<img src="/img/null.png" />
					<label class="caption">Marnie Stern</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="mndr/1.jpg">
					<img src="/img/null.png" />
					<label class="caption">MNDR</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="panda-bear/1.jpg">
					<img src="/img/null.png" />
					<label class="caption">Panda Bear</label>
				</div>
			</li>
			<li>
				<div class="photo" data-src="royal-young/1.jpg">
					<img src="/img/null.png" />
					<label class="caption">Royal Young</label>
				</div>
			</li>


		</ul>

	</div>

</section>
<div class="modal-photo-viewer">
	<div class="inner">
		<img src="/img/null.png" />
		<button class="navigation next">Next
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 100 100">
				<g>
					<path fill="#17b9d6" d="M69.43,54.255c-1.167,1.167-3.076,1.167-4.242,0L28.437,17.507c-1.167-1.167-1.167-3.076,0-4.242l2.134-2.135 c1.167-1.167,3.076-1.167,4.243,0l36.751,36.748c1.166,1.167,1.167,3.075,0,4.242L69.43,54.255z"/>
				</g>
				<g>
					<path fill="#17b9d6" d="M28.438,86.735c-1.167-1.167-1.167-3.076,0-4.242l36.748-36.75c1.167-1.167,3.076-1.167,4.242,0l2.135,2.135 c1.166,1.167,1.167,3.076,0,4.242L34.814,88.87c-1.167,1.166-3.076,1.167-4.242,0L28.438,86.735z"/>
				</g>
			</svg>
		</button>
		<button class="navigation previous">Previous
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 100 100">
				<g>
					<path fill="#17b9d6" d="M69.43,54.255c-1.167,1.167-3.076,1.167-4.242,0L28.437,17.507c-1.167-1.167-1.167-3.076,0-4.242l2.134-2.135 c1.167-1.167,3.076-1.167,4.243,0l36.751,36.748c1.166,1.167,1.167,3.075,0,4.242L69.43,54.255z"/>
				</g>
				<g>
					<path fill="#17b9d6" d="M28.438,86.735c-1.167-1.167-1.167-3.076,0-4.242l36.748-36.75c1.167-1.167,3.076-1.167,4.242,0l2.135,2.135 c1.166,1.167,1.167,3.076,0,4.242L34.814,88.87c-1.167,1.166-3.076,1.167-4.242,0L28.438,86.735z"/>
				</g>
			</svg>
		</button>
	</div>
</div>
